:host{
    display: grid;
    grid-template-areas: '. material .';
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;    
    align-items: flex-start;
}
.addFile-panel{
    margin-top: 20px;
    grid-area: material;
    display: flex;
    flex-direction: column;
     padding: 15px;
     text-align: center;
     justify-content: center;
 }
 .addFile-form{
     display: flex;
     flex-direction: column;
 }
 table {
    width: 100%;
    text-align: center;
  }
table th {
    text-align: center;
}