:host{
    display: grid;
    grid-template-areas: '. material .';
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;    
    align-items: flex-start;
}
.addMaterial-panel{
    margin-top: 20px;
    grid-area: material;
    display: flex;
    flex-direction: column;
     padding: 15px;
     text-align: center;
     justify-content: center;
 }
.addMaterial-form{
    display: flex;
    flex-direction: column;
}
.upload-material{
    margin-bottom: 15px;
}
.title{
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
}