.addMaterial-panel{
   display: flex;
   flex-direction: column;
    padding: 15px;
    text-align: center;
    justify-content: center;
}
.addMaterial-form{
    display: flex;
    flex-direction: column;
}
.upload-material{
    margin-bottom: 15px;
}