:host{
    display: block;
    padding: 20px 0;
    background-color: #3E665c;
}
.main-sidenav{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    text-align: center;
    width: 100px;
    height: 100%;
   
}
.analyse-section{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    text-align: center;
    color:white;
    padding-bottom: 15px;
}
.management-section{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    text-align: center;
}
.material-icons{
width: 30px;
padding: 5px;
outline: none;
border-radius: 4px;
margin:2px;
}
.is-active{
    background-color: #589e8d;
}
.section{
    align-items: center;
}


