.addResearch-panel{
    display: flex;
    flex-direction: column;
     padding: 15px;
     text-align: center;
     justify-content: center;
 }
 .addTensile-form{
     display: flex;
     flex-direction: column;
 }
 .addCompression-form{
    display: flex;
    flex-direction: column;
}