:host{
  width: min-content;
}
.analysis-model {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.material-card {
  margin: 10px;
  width: auto;
  max-height: 250px;
  display: flex;
  flex-direction: column;
}
.card-content {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.title-label {
  font-weight: bold;
}
.information-header{
  text-align: center;
  margin:10px;
  font-weight: bold;
}
.test-summary{
  width:100%;
}
.probe-informations{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.info-record{
  margin:10px;
}